:root {
  --font-main: "Roboto", system-ui, sans-serif;
  --background-nav: hsl(222, 47%, 11%);
  --light-text-color: white;
  --nav-link-text-color: #cbd5e1;
  --link-text-color: rgb(138, 43, 226);
}

::selection {
  background-color: darkorchid;
  color: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  min-height: 100vh;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 50px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  padding: 12px;
  background-color: var(--background-nav);
  color: var(--light-text-color);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: var(--background-nav);
  color: var(--light-text-color);
}

.header__logo {
  font-size: 20px;
  font-weight: 700;
}

.header__nav {
  display: flex;
  gap: 24px;
}

.nav__link {
  text-decoration: none;
  color: var(--nav-link-text-color);
  font-size: 1rem;
  transition: color 0.2s ease;
}

.nav__link:hover {
  color: var(--light-text-color);
}

.title {
  text-align: center;
}

.paragraph {
  width: 60ch;
}

p {
  width: 100%;
  text-indent: 2em;
  font-size: 1.25rem;
  font-weight: 400;
}

.link {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}
.link:hover {
  color: var(--link-text-color);
}

.image-wrapper {
  text-align: center;
}

.image {
  height: 500px;
  object-fit: cover;
}

.list {
  width: 300px;
  height: 110px;
  overflow: auto;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
